.input-date::-webkit-calendar-picker-indicator {
  filter: invert(1);
  transform: translateX(-4px);
}

.select-type-error {
  --tw-border-opacity: 1 !important;

  box-shadow: inset 0 0 0 1px rgb(225 29 72 / var(--tw-border-opacity)) !important;
}

.textarea-description-error > textarea {
  --tw-border-opacity: 1 !important;

  border-color: rgb(225 29 72 / var(--tw-border-opacity)) !important;
}
